{% extends "base.html" %}
{% block title %}Index page{% endblock %}
{% load crispy_forms_tags %}
{% load filters %}
{% block body %}
<h3 class="text-success">Unique Physician output</h3>
{% if count_physician %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Speciality</th>
            <th scope="col">Specility Count</th>
        </tr>
    </thead>
    <tbody>
        {% for speciality,speciality_count in count_physician.items %}
        <tr>
        <td scope="row">{{speciality}}</td>
        <td>{{speciality_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Record Added</p>
{% endif %}

<h3 class="text-info">Unique Patient Visited</h3>

{% for key,value in count_unique_patient.items %}
<p class="text-danger text-center">{{key | month}}</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Account ID</th>
            <th scope="col">Unique Patient Visited</th>
        </tr>
    </thead>
    <tbody>
        {% for i,j in value.items %}
        <tr>
        <td scope="row">{{i}}</td>
        <td>{{j | length}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}




{% endblock %}