{% extends "base.html" %}
{% block title %}Event List{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
{% load crispy_forms_tags %}
<h1>Event List</h1>

{% if eventcategory_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Event Name</th>
            <th scope="col">Category</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        {% for event in eventcategory_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{event.event_name}}</td>
            <td>{{event.category}}</td>
            <td><a href="{% url "event-category-update" event.pk %}" class="btn btn-outline-info">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Event Record Found</p>
{% endif %}
<a href="{% url "event-category-create" %}" class="btn btn-primary"> Add a Event</a>

{% endblock %}