{% extends "base.html" %}
{% block title %}Patient List{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
{% load crispy_forms_tags %}
<h1>Patient List</h1>

{% if patient_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patient_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{patient.patient_id}}</td>
            <td>{{patient.patient_name}}</td>
            <td><a href="{% url "patient-update" patient.pk %}" class="btn btn-outline-info">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Patient record Found</p>
{% endif %}
<a href="{% url "patient-create" %}" class="btn btn-primary"> Add a Patient</a>

{% endblock %}